.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

/* Space out content a bit */
body {
  font-family: "Avenir Next", Helvetica, sans-serif !important;
  #homeView {
    background: url(/images/mainBackground.png) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    @media all and (min-width: 1000px) {
      padding: 50px;
    }
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    #jumbotron {
      padding: 10px 20px;
      background-color: rgba(245, 245, 245, 0.6);
      width: 100%;
      h1 {
        font-weight: 500;
        margin: 10px 0;
        float: left;
      }
      h2 {
        display: none;
      }
      img {
        margin-top: 10px;
        float: right;
      }
    }
    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 20px;
      background-color: rgba(245, 245, 245, 0.6);
      text-align: center;
      h2 {
        font-size: 20px;
        font-weight: 400;
      }
    }
    @media all and (min-width: 1000px) {
      #jumbotron {
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(245, 245, 245, 0.6);
        max-width: 350px;
        h1 {
          font-weight: 500;
        }
        h2 {
          font-weight: 400;
          display: block;
        }
        h1, h2 {
          margin: 10px 0;
          float: none;
        }
        img {
          margin-top: 10px;
          float: none;
        }
      }
      #footer {
        display: none;
      }
    }
  }
  #mapView {

  }
  -webkit-user-select: none;
  height: 100%;
  .map-container {
    height: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
    #map {
      height: 100%;
    }
  }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

div#map, .leaflet-main {
  .animated-popup {
    .leaflet-popup-content-wrapper {
      transform: scale(1.0) scaleZ(1.0);
    }
  }
  .leaflet-popup-content-wrapper {
    opacity: 1 !important;
    transform: scale(0.1) scaleZ(1.0);
    transform-origin: 50% 100%;
    perspective: 200;
    perspective-origin: 50% 50%;
    transition: transform 0.1s ease;
    min-height: 240px;
    max-height: 240px;
    overflow-y: scroll;
  }
  height: 100%;
  .leaflet-popup-pane {
    text-align: center;
    font-family: "Avenir Next", Helvetica, sans-serif;
    max-width: 90%;
    .marker-content {
      width: 100%;
      height: 100%;
      max-width: 100% !important;
      padding-bottom: 8px;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      .marker-title {
        font-weight: 500;
      }
      .spinner-container {
        display: none;
        width: 100%;
        height: 150px;
        padding: 10px 0;
        position: relative;
      }
      .marker-image {
        padding: 10px 0;
      }
      .marker-footer {
        -webkit-user-select: all;
        font-size: 12px;
        color: #777;
        width: 75%;
        margin: auto;
      }
    }
    .places-image {
      border-radius: 5px;
      margin-bottom: 8px;
      max-width: 75% !important;
      max-height: 75%;
      display: block;
      margin: 0 auto;
      transition: opacity 0.3s linear;
      opacity: 0;
      &.visible {
        opacity: 1;
      }
    }
  }
}

/* Responsive: Portrait tablets and down */
@media screen and (max-width: 769px) {
  .map-container {
    padding: 0 !important;
    .leaflet-control-zoom {
      display: none !important;
    }
  }
}
